{% extends 'base.html' %}
{% load static %}
{% block heading %}
  <h1 class="acronym">Data Checks</h1>
{% endblock %}

{% block content %}

  {% for error in errors %}
    <div class="alert alert-{{ error.level }}" role="alert">
      <strong>{{ error.obj }}</strong>:
      {{ error.msg }}
      <br>
      {% if error.obj.get_absolute_url %}
        <a href="{{ error.obj.get_absolute_url }}" class="alert-link">View</a>
      {% endif %}
      {% if error.edit_url %}
        <a href="{{ error.edit_url }}" class="alert-link">Edit</a>
      {% endif %}
      {% if error.admin_edit_url %}
        <a href="{{ error.admin_edit_url }}" class="alert-link">Admin-Edit</a>
      {% endif %}
    </div>
  {% empty %}
    <div class="alert alert-success" role="alert">
      No warnings at the moment! 🎉
    </div>
  {% endfor %}

{% endblock %}
