{% extends 'base.html' %}
{% load static %}

{% block content %}
  <h1 class="acronym">{{ acro.name }}</h1>
  <p class="fullName">{{ acro.full_name }}</p>
  {% if acro.description_html %}
    <div class="description">
      {{ acro.description_html|safe }}
    </div>
  {% endif %}
  {#    <div class="linkwrapper">#}
  {#        {% for link in acro.links.all %}#}
  {#            <div><a href="{{ link.url }}">{{ link.url }}</a></div>#}
  {#        {% endfor %}#}
  {#        {% for paper in acro.papers.all %}#}
  {#            <div>#}
  {#                <a href="{{ paper.ads_url }}">ADS</a>#}
  {#                <a href="{{ paper.arxiv_url }}">Arxiv</a>#}
  {#                <a href="{{ paper.doi_url }}">DOI</a>#}
  {#            </div>#}
  {#        {% endfor %}#}
  <div class="tags">
    {% for tag in acro.tags.all %}
      <a href="{% url "tag" tag.slug %}" class="badge badge-primary">{{ tag.name }}</a>
    {% endfor %}
  </div>
  <div class="row">
    {% for link in acro.wiki_articles.all %}
      <div class="mb-4  col-md-4">
        <div class="card">
          <a href="{{ link.thumbnail_wiki_url }}">
            <img src="{{ link.thumbnail.url }}" class="card-img-top"
                 width="{{ link.thumbnail_width }}" height="{{ link.thumbnail_height }}"
                 title="{{ link.thumbnail_caption }}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{ link.title }}</h5>
            {#<p class="card-text">{{ link.extract_html|safe }}</p>#}
            <p class="card-text">{{ link.extract }}</p>
            <a href="{{ link.url }}" class="btn btn-primary">
              Read on Wikipedia
            </a>
            <a href="https://en.wikipedia.org/wiki/Wikipedia:Text_of_Creative_Commons_Attribution-ShareAlike_3.0_Unported_License"
               data-toggle="tooltip"
               target="_blank" rel="noopener"
               class="text-muted"
               title="This snippet and thumbnail is from the English Wikipedia and licensed under the CC-BY-SA 3.0 license">
              License
            </a>
          </div>
        </div>
      </div>
      {#            <div>#}
      {#                <a href="{{ link.url }}">{% include 'SVGs/icons.html' with list=list1 %}</a>#}
      {#                <a href="{{ link.url }}">{{ link.title }}</a>#}
      {#            </div>#}
    {% endfor %}
    {% for paper in acro.papers.all %}
      <div class="mb-4 col-md-4">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">{{ paper.title }} ({{ paper.year }})</h5>
            <p>{{ paper.authors }}</p>
            <div class="linkbar">
              <a href="{{ paper.ads_url }}" data-toggle="tooltip" title="view on ADS">
                <img src="{% static "images/ads.png" %}" width="32" height="32">
              </a>
              {% if paper.arxiv_id %}
                <a href="{{ paper.arxiv_url }}" data-toggle="tooltip" title="view on arXiv.org">
                  <img src="{% static "images/arxiv.png" %}" width="32" height="32">
                </a>
              {% endif %}
              {% if paper.doi %}
                <a href="{{ paper.doi_url }}" data-toggle="tooltip" title="Publisher Website">
                  {% include 'SVGs/external.svg' %}
                </a>
              {% endif %}
              <a href="{{ paper.publisher_url }}" data-toggle="tooltip" title="Publisher PDF">
                {% include 'SVGs/pdf.svg' %}
              </a>
              {% if paper.arxiv_id %}
                <a href="{{ paper.preprint_url }}" data-toggle="tooltip" title="arXiv.org PDF">
                  {% include 'SVGs/pdf.svg' %}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {% for link in acro.links.all %}
      <div class="mb-4 col-md-4">
        <div class="card ">
          <div class="card-body">
            <h5 class="card-title">
              {{ link.title }}
              {% if link.host.icon %}
                <img src="{{ link.host.icon.url }}"
                     width="{{ link.host.icon_width }}" height="{{ link.host.icon_height }}">
              {% endif %}
            </h5>
            <a class="btn btn-primary stretched-link " href="{{ link.url }}">{{ link.host.host }}</a>
          </div>
        </div>
      </div>
    {% endfor %}
    {#    {% if user.is_authenticated %}#}
    {#      <div class="mb-4 col-md-4">#}
    {#        <div class="card">#}
    {#          <div class="card-body">#}
    {#            <div class="btn-group-vertical" role="group">#}
    {#              <button data-toggle="collapse" href="#collapseAddWikipediaForm" class="btn btn-secondary" role="button"#}
    {#                      aria-expanded="false" aria-controls="collapseAddWikipediaForm">#}
    {#                add Wikipedia Article#}
    {#              </button>#}
    {#              <button data-toggle="collapse" href="#collapseAddPaperForm" class="btn btn-secondary" role="button"#}
    {#                      aria-expanded="false" aria-controls="collapseAddPaperForm">#}
    {#                add Reference Paper#}
    {#              </button>#}
    {#              <button data-toggle="collapse" href="#collapseAddWebsiteForm" class="btn btn-secondary" role="button"#}
    {#                      aria-expanded="false" aria-controls="collapseAddWebsiteForm">#}
    {#                add Website Link#}
    {#              </button>#}
    {#            </div>#}
    {#          </div>#}
    {#          <form class="card-footer accordion" id="addAccordion">#}
    {#            <div id="collapseAddWikipediaForm" class="collapse form-group" data-parent="#addAccordion">#}
    {#              <label for="wikiTitle">Wikipedia Title</label>#}
    {#              <input type="text" class="form-control" name="wiki_title" id="wikiTitle">#}
    {#            </div>#}
    {#            <div id="collapseAddPaperForm" class="collapse form-group" data-parent="#addAccordion">#}
    {#              <label for="paperBibcode">Bibcode</label>#}
    {#              <input type="text" class="form-control" name="paper_bibcode" id="paperBibcode">#}
    {#            </div>#}
    {#            <div id="collapseAddWebsiteForm" class="collapse form-group" data-parent="#addAccordion">#}
    {#              <label for="websiteUrl">URL</label>#}
    {#              <input type="url" class="form-control" name="website_url" id="websiteUrl">#}
    {#            </div>#}
    {#          </form>#}
    {#        </div>#}
    {#      </div>#}
    {#    {% endif %}#}
  </div>
  <a href="{% url 'admin:acros_acronym_change' acro.id %}">Admin-Edit</a>
  {#  <a href="{% url 'edit' acro.slug %}">Edit</a>#}
{% endblock %}
