
footer {
  margin-top: 1rem;

  .navbar-nav {
    justify-content: space-between;
    width: 100%;

    @include media-breakpoint-down(xs) {
      flex-direction: column !important;
      text-align: center;
    }
  }
}
