
.card-title {
  text-align: center;

  img {
    max-width: 32px;
    height: auto;
  }
}

.card {
  .description {
    text-align: center;
    font-style: italic;
  }
}

.card-img-top {
  height: auto;
}

.card-body a {
  display: block;
  text-align: center;
}
