{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>{% block title %}Acronomy{% endblock %}</title>

  <!-- Bootstrap -->
  {% if debug %}
    <link rel="stylesheet" href="{% url "css" %}">
  {% else %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
  {% endif %}
  {% block extra_head %}
  {% endblock %}
</head>
<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        {% block admin_navbar %}
        {% endblock %}
      </ul>
    </div>
  </nav>
{% endif %}

{#        <div class="container {{ referrers is defined ? "edit" }}">#}
<div class="container {% block containerclasses %}{% endblock %}">
  {% bootstrap_messages %}
  {% block heading %}
  {% endblock %}
  <div id="autocomplete" class="autocomplete">
    <input placeholder="Search for an acronym"
           class="autocomplete-input" {% block searchInput %}{% endblock %}/>
    <ul class="autocomplete-result-list"></ul>
  </div>

  {% block content %}
  {% endblock %}

</div>
{% include 'footer.html' %}
<script src="{% static "libs/jquery.slim.min.js" %}"></script>
<script src="{% static "libs/popper.min.js" %}"></script>
<script src="{% static "libs/bootstrap.min.js" %}"></script>
<script src="{% static "libs/tagify.min.js" %}"></script>
<script src="{% static "libs/autocomplete.min.js" %}"></script>
<script src="{% static "app.js" %}"></script>

</body>
</html>
