<!DOCTYPE html>
<html lang="de">
{% load bootstrap5 %}
{% load static %}
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Acronomy{% endblock %}</title>
  <link rel="icon" href="{% static "images/logo.png" %}" sizes="1024x1024">
  <link rel="icon" href="{% static "images/logo.svg" %}" sizes="any" type="image/svg+xml">
  {% if debug %}
    <link rel="stylesheet" href="{% url "css" %}">
  {% else %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
  {% endif %}
  {% block extra_head %}
  {% endblock %}
  {% if not debug %}
    <script>
        var _paq = window._paq = window._paq || [];
        _paq.push(['disableCookies']);
        _paq.push(['setRequestMethod', 'POST']);
        _paq.push(["setDoNotTrack", true]);
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function () {
            var u = "https://matomo.lw1.at/";
            _paq.push(['setTrackerUrl', u + 'statistics.php']);
            _paq.push(['setSiteId', '29']);
            var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
            g.type = 'text/javascript';
            g.async = true;
            g.src = u + 'statistics.js';
            s.parentNode.insertBefore(g, s);
        })();
    </script>
  {% endif %}
</head>
<body>
{% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      {% if user.is_staff %}
        <a class="navbar-brand" href="{% url 'admin:index' %}">Admin</a>
      {% endif %}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="{% url 'add' %}">Add</a>
          {% block admin_navbar %}
          {% endblock %}
        </div>
      </div>
    </div>
  </nav>
{% endif %}

<div class="container {% block containerclasses %}{% endblock %}">
  {% bootstrap_messages %}
  {% block heading %}
  {% endblock %}
  <div id="autocomplete" class="autocomplete">
    <input placeholder="Search for an acronym"
           class="autocomplete-input" {% block searchInput %}{% endblock %}/>
    <ul class="autocomplete-result-list"></ul>
  </div>

  {% block content %}
  {% endblock %}

</div>
{% include 'footer.html' %}
<script src="{% static "libs/popper.min.js" %}"></script>
<script src="{% static "libs/bootstrap.min.js" %}"></script>
<script src="{% static "libs/autocomplete.min.js" %}"></script>
<script src="{% static "app.js" %}"></script>

</body>
</html>
